
/* tablets */
@media screen 
and (min-width: 667px)
and (max-width: 1024px) {
   .home-header {
      font-size: 40px;
   }
   .img-container {
      width: 300px;
   }
   .img-me {
      width: 300px;
   }
   .home-header-button {
    padding: 8px 16px;
    font-size: 12pt;
    margin-top: 15px;
 }
 .section-header {
   font-size: 40px;
}

.section-header-underline {
   width: 110px;
}
.img-text {
   font-size: 14px;
   border-radius: 4px;
}
.img-question {
   font-size: 26px;
}
.my-foot {
   height: 120px;
}

.foot-text-container {
   padding-top: 35px;
}

.foot-text {
   font-size: 14px;
}
.projects-svg {
   stroke-width: 0px;
}

.contact-svg {
   stroke-width: 0px;
}
}

/* phones */
@media screen and (max-width: 666px) {
   .home-header {
      font-size: 28px;
   }
   .img-container {
      width: 250px;
   }
   .img-me {
      width: 250px;
   }
   .home-header-button {
    padding: 6px 12px;
    font-size: 10pt;
    margin-top: 10px;
 }
 .section-header {
   font-weight: 600;
   font-size: 35px;
}

.section-header-underline {
   width: 100px;
   height: 2px;
}
.img-text {
   font-size: 12px;
   border-radius: 3px;
}
.img-question {
   font-size: 22px;
}
.my-foot {
   height: 90px;
}

.foot-text-container {
   padding-top: 25px;
}

.foot-text {
   font-size: 12px;
}
.projects-svg {
   stroke-width: 0px;
}

.contact-svg {
   stroke-width: 0px;
}
}

/* About section grid adjustments */
@media screen 
and (max-width: 768px)
and (min-width: 480px) {
   /* about section skill cards */
   .col-md-3 {
      width: 51%;
      margin-left: auto;
      margin-right: auto;
   }
}
@media screen 
and (max-width: 479px) {
   /* about section skill cards */
   .col-md-3 {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
   }
}

/* Project card grid adjustments after collapse */
@media screen 
and (max-width: 767px) {
   .project-card {
      height: 400px;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
   }
}