section {
   height: 100%;
}

#home {
   background-color: #1c2a48;
}

#about {
   background-color: #e6e6e6;
}

#projects {
   background-color: #f2f2f2;
}

#contact {
   background-color: #152037;
}

#myNav {
   background-color: #1c2a48;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.active-nav-link {
   color: red !important;
}

#particles-js {
   height: 100%;
   width: 100%;
   z-index:-10;
}

.home-header-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

.home-header {
   color: #fff;
   font-style: "Roboto";
   font-size: 60px;
}

.home-header-name {
   color: #e6005c;
   font-weight: 400;
}


.home-header-button {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  color: #fff;
  transition: all .5s;
  cursor: pointer; 
  margin-top: 20px;
}

.home-header-button:hover {
    background-color: #039196;
    border-color: #039196; 
 }

.section-header {
   color: #444649;
   font-weight: 500;
}

.section-header-underline {
   background-color: #444649;
   width: 130px;
   height: 3px;
}

.contact-header {
   color: #f2f2f2;
}

.contact-header-underline {
   background-color: #f2f2f2;
}

.projects-svg {
   background-color: #e6e6e6;
   height: 100;
   width: 100%;
}

.contact-svg {
   height: 100;
   width: 100%;
}

.my-foot {
   color: white;
   background-color: #0e1525;
   height: 180px;
   width: 100%;
}

.foot-text-container {
   vertical-align: middle;
   padding-top: 50px;
}