section {
   height: 100%;
}

#home {
   background-color: #1c2a48;
}

#about {
   background-color: #e6e6e6;
}

#projects {
   background-color: red;
}

#contact {
   background-color: green;
}

.navbar {
   background-color: #1c2a48;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.active-nav-link {
   color: red !important;
}

#particles-js {
   height: 100%;
   width:100%;
   z-index:-10;
}

.home-header-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

.home-header {
   color: #fff;
   font-style: "Roboto";
   font-size: 60px;
}

.home-header-name {
   color: #e6005c;
}


.home-header-button {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all .5s;
  cursor: pointer; 
}

.home-header-button:hover {
    background-color: #04C2C9;
    border-color: #04C2C9; 
 }